<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./TimeLine.css" />
    <title>Document</title>
  </head>
  <body>
   
    <nav>
      <div class="nav-text notActive" id="Gallery">Gallery</div>
      <div class="nav-text" id="timeLine">TimeLine</div>
    </nav>
    <header class="header-container">
      <div class="message">
        <div>C</div>
        <div>o</div>
        <div>m</div>
        <div>p</div>
        <div>u</div>
        <div>t</div>
        <div>e</div>
        <div>r</div>
        <div>-</div>
        <div>T</div>
        <div>i</div>
        <div>m</div>
        <div>e</div>
        <div>l</div>
        <div>i</div>
        <div>n</div>
        <div>e</div>
      </div>
      <div class="name">
        <div>B</div>
        <div>y</div>
        <div>-</div>
        <div>s</div>
        <div>a</div>
        <div>t</div>
        <div>y</div>
        <div>a</div>
        <div>m</div>
      </div>
      <div id="headerDes">"The Machine Which Change The World Forever"</div>
      <img
        id="headerMedia"
        src="https://wallpapercave.com/dwp2x/wp9164133.jpg"
      />
    </header>
    <div class="timeline">
      <div class="container left-container">
        <div id="year">2022</div>
        <div class="text-box">
          <img
            style="width: 100%; height: auto"
            draggable="false"
            src="https://wallpapercave.com/dwp2x/wp4171385.jpg"
          />
          <h2>Alphabet Inc.</h2>
          <small>2018 - 2019</small>
          <p>
            The success of every websites depends on search engine optimisation
            and digital marketing strategy. If you are on first page of all
            major search...
          </p>
          <span class="left-container-arrow"></span>
        </div>
      </div>

      <div class="container right-container">
        <div id="year">2022</div>
        <div class="text-box">
          <img
            style="width: 100%; height: auto"
            draggable="false"
            src="https://wallpapercave.com/dwp2x/wp4171385.jpg"
          />
          <h2>Alphabet Inc.</h2>
          <small>2018 - 2019</small>
          <p>
            The success of every websites depends on search engine optimisation
            and digital marketing strategy. If you are on first page of all
            major search...
          </p>
          <span class="right-container-arrow"></span>
        </div>
      </div>

      <div class="container left-container">
        <div id="year">2022</div>
        <div class="text-box">
          <img
            style="width: 100%; height: auto"
            draggable="false"
            src="https://wallpapercave.com/dwp2x/wp4171385.jpg"
          />
          <h2>Alphabet Inc.</h2>
          <small>2018 - 2019</small>
          <p>
            The success of every websites depends on search engine optimisation
            and digital marketing strategy. If you are on first page of all
            major search...
          </p>
          <span class="left-container-arrow"></span>
        </div>
      </div>

      <div class="container right-container">
        <div id="year">2022</div>
        <div class="text-box">
          <img
            style="width: 100%; height: auto"
            draggable="false"
            src="https://wallpapercave.com/dwp2x/wp4171385.jpg"
          />
          <h2>Alphabet Inc.</h2>
          <small>2018 - 2019</small>
          <p>
            The success of every websites depends on search engine optimisation
            and digital marketing strategy. If you are on first page of all
            major search...
          </p>
          <span class="right-container-arrow"></span>
        </div>
      </div>

      <div class="container left-container">
        <div id="year">2022</div>
        <div class="text-box">
          <img
            style="width: 100%; height: auto"
            draggable="false"
            src="https://wallpapercave.com/dwp2x/wp4171385.jpg"
          />
          <h2>Alphabet Inc.</h2>
          <small>2018 - 2019</small>
          <p>
            The success of every websites depends on search engine optimisation
            and digital marketing strategy. If you are on first page of all
            major search...
          </p>
          <span class="left-container-arrow"></span>
        </div>
      </div>
    </div>
    <script>
        const gallery = document.getElementById("Gallery");
        gallery.addEventListener("click",()=>window.open("../index.html",'_self'))
        const timeLine = document.getElementById("timeLine")
        timeLine.addEventListener("click",()=>window.open("./TimeLine.html",'_self'))
      </script>
  
  </body>
</html>
